a {
    text-decoration: none;
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 20px auto;
    border: 1px solid saddlebrown;

    

    &-delete {
        svg {
            border-bottom: 1px solid transparent;
        }

        &:hover {
            svg {
                cursor: pointer;
                border-bottom: 1px solid red;
            }
        }
    }
}

.users-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        margin: 0 5px;
        color: black;

        @media only screen and (max-width: 800px) {
            color: red;
            margin: 0;

            div {            
                background-color: rgba(222, 184, 135, 0.294);
            }
        }

        @media only screen and (max-width: 700px) {
            color: blue;
            margin: 0;

            div {            
                background-color: rgba(222, 184, 135, 0.294);
            }
        }

        @media only screen and (max-width: 500px) {
            color: rgb(139, 19, 123);
            margin: 0;

            div {            
                background-color: rgba(222, 184, 135, 0.294);
            }
        }

        @media only screen and (max-width: 400px) {
            color: rgb(0, 225, 255);
            margin: 0;

            div {            
                background-color: rgba(222, 184, 135, 0.294);
            }
        }
    }
}