.main-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #7D70BA;


    &-container {
        width: 80%;
        display: flex;
        background-color: #7D70BA;
        justify-content: space-between;
        align-items: center;

        a {            
            color: #ffffff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &-btn {
            border: 1px solid #ffffff;
            background: transparent;
            outline: 0;
            color: #ffffff;
            cursor: pointer;
            padding: 3px 10px;
            border-radius: 3px;
            margin-left: 20px;

            &:hover {
                background: #ffffff;
                color: #7D70BA;
            }
        }
    }
}