.login {
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;

    &-container {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-btn {
            display: flex;
            justify-content: center;
            margin-top: 25px;
        }
    }
}